
.maincontainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.firstdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 184px;
    margin: 0px 0px 30px 0px;
}
.first{
    display: flex;
    flex-direction: column;
    width: 30%;
    /* margin: 0px 10px 0px 100px; */
}
.first p{
    margin: 0px 0px 0px 100px;
}
.inputbox{
    width: 100%;
    height: 20px;
    padding: 2px;
    margin: 0px 100px 0px 100px;
    align-items: center;
    border-radius: 5px;
    border: 1px solid black;
}
.second{
    display: flex;
    flex-direction: column;
    width: 40%;
    /* margin: 0px 10px 0px 100px; */
}
.second p{
    margin: 25px 100px 10px 100px;
    width: 150%;
}
.seconddiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 184px;
    margin: 0px 60px 0px 60px;
}
.altercontainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}